
body {
background-color: BurlyWood;
color: indigo;
font-family: arial, helvetica, sans-serif;
}
ol {list-style-type: lower-alpha;
padding: 5em;
    
}
h1 {
    color:white;
    text-align:center;
    font-family:courier, fixed, monospace
}
h2 {
    color:teal;
    text-align:left;
}
h3 {
    color:black;
}
h4 {
    color:white;
}
h5 {
    color:teal;
}
h6 {
    color:black;
}
p {
    font-family: courier, fixed, monospace;
    color:black
}
.clearfix {
    overflow: auto;
}
div {
    font-family:courier, fixed, monospace;
    color:black;
}

