
body {
background-color: BurlyWood;
    background-image: url("images/old_paper_background.jpg");
color: black;
font-family: courier;
}
ol {list-style-type: lower-alpha;
padding: 5em;
    
}
h1 {
    color:white;
    text-align:center;
    font-family:courier, fixed, monospace;
    text-shadow:2px 2px 5px black;
}
h2 {
    color:black;
    text-align:left;
    font-family: courier, fixed, monospace;
}
h3 {
    color:black;
}
h4 {
    color:white;
    text-align:right;
    font-family: Courier, fixed, monospace;
}
h5 {
    color:teal;
}
h6 {
    color:black;
}

div.note {
    text-align:center;
}

h2.setHead {
    text-align:center;
}

h3.setting {
    padding-left: 300px;
}

p.setdesc {
    text-align:right;
    padding-right: 350px;
}

h3.setTime {
    padding-left:300px;
}

p.timedesc {
    text-align:right;
    padding-right: 350px;
}

h3.action {
    padding-left:300px;
}

p.actiondesc {
    text-align:right;
    padding-right: 350px
}

p {
    font-family: Courier, fixed, monospace;
    color:black;
    line-height: 1.8;
   
}

p.intro {
    text-align:center;
}

.clearfix {
    overflow: auto;
}

div.dialogue {
    font-family:courier, fixed, monospace;
    color:black;
    text-align: center;
    margin: auto;
    
}

div.speaker {
    padding-left: 200px;
}

span.insert {
    font-family:'Bradley Hand', cursive;
    
}

div.sp{
    text-align:left;
}

div.stage {
    text-align:center;
}

p.navbar {
    justify-content:stretch;
    text-align:center;
}
a {
    color:black;
}

figure {margin:3em}

aside.marginalia {
    text-align:right;
    font-family: 'Bradley Hand', cursive;
}

aside.castcontext {
    text-align:center;
}

span.period {
    text-align:center;
}

s {
    text-decoration: line-through;
}

section.set {
    padding-top: 60px;
    padding-bottom: 90px;
}





td.spk {
    padding-left:0px;
}

td {
    padding-left:250px;
}

td.castcontext {
    padding-left: 150px;
}

h2.castHead {
    text-align:center;
}

li {
    line-height: 1.8;
}

span.FRAUNCES {
    background-color:Khaki;
}

span.DOUGLASS {
    background-color:MediumOrchid;
    
}

span.SOJOURNER {
    background-color:Gold;
}

span.LONG {
    background-color:CadetBlue;
    color:white;
}

span.RAINEY {
    background-color:SteelBlue;
    color:white;
}

span.DELARGE {
    background-color:LightSteelBlue;
}

span.RAINER {
    background-color:PowderBlue;
}

span.ELLIOTT {
    background-color:SkyBlue;
    color:white;
}

span.TURNER {
    background-color:CornflowerBlue;
}

span.LYNCH {
    background-color:DeepSkyBlue;
}

span.RAPIER {
    background-color:DodgerBlue;
}

span.WALLS {
    background-color:RoyalBlue;
    color: white;
}

span.CAIN {
    background-color:Blue;
    color:white;
}

span.NASH {
    background-color:LightBlue;
}

span.HYMAN {
    background-color:Navy;
    color:white;
}

span.HARALSON {
    background-color:MediumBlue;
    color:white;
}

span.SMALLS {
    background-color:MidnightBlue;
    color:white;
}

span.REVELS {
    background-color:PaleGreen;
}

span.BRUCE {
    background-color:OliveDrab;
    color:white;
}

span.LANGSTON {
    background-color:BurlyWood;
}

span.MILLER {
    background-color:SandyBrown;
    color:black;
}

span.MURRAY {
    background-color:Peru;
    color:black;
}

span.OHARA {
    background-color:Sienna;
    color:white;
}

span.CHEATHAM {
    background-color:Brown;
    color:white;
}

span.WHITE{
    background-color:Maroon;
    color: white;
}

span.WASHINGTON {
    background-color:RosyBrown;
    
}
